body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

#sketch-container {
    flex-direction: column;
    
    width: 500px;
    height: 500px;
    outline: 4px solid black;

}

.row {
    padding: 0;
    margin: 0;
    background-color: rgb(161, 161, 161);
    
}

.square {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border: .1px solid rgb(226, 226, 226);
}

#input-box {
    margin: 10px;
    height: 15px;
    width: 20px;
}

/* hide arrows on input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}