body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

#sketch-container {
    flex-direction: column;
    margin-top: 10vh;
    width: 500px;
    height: 500px;
    outline: 4px solid black;

}

.row {
    padding: 0;
    margin: 0;
    background-color: rgb(161, 161, 161);
    
}

.square {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border: .25px solid rgb(226, 226, 226);
    
    
}